.header {
  padding: 15px 20px;
  margin-bottom: 20px;
}

.header .element {
  padding: 0px 30px;
  display: var(--display-flex);
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-color);
}

.header .box {
  gap: 20px;
  display: var(--display-flex);
  align-items: var(--align-center);
  margin-bottom: var(--primary-space);
  justify-content: var(--align-center);
}

.header .logo {
  width: 75px;
  height: 75px;
}

.header .picture {
  border-radius: var(--space-full);
  border: 2px solid var(--primary-color);
}

.header .menu {
  height: var(--space-full);
  display: var(--display-flex);
  text-align: var(--align-center);
  align-items: var(--align-center);
}