.heading {
  font-weight: bold;
  padding-bottom: 2em;
  text-align: var(--center);
  color: var(--primary-color);
  font-size: var(--primary-space);
}

.input {
  outline: none;
  padding: 0.7em;
}

.form .button {
  height: 43px;
  display: flex;
  padding: 0.7em;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  align-items: var(--center);
  justify-content: var(--center);
}

.form-element {
  width: 24em;
  align-self: var(--center);
}

.error-message {
  color: #E63946;
  font-weight: bold;
}

.form-element .picture {
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 100%;
  align-items: var(--center);
  justify-content: var(--center);
  border: 2px solid var(--primary-color);
  border-radius: 100%;
}

.form-element .box {
  align-items: var(--center);
  justify-content: var(--center);
  display: inherit;
  justify-content: center;
  align-items: center;
}

.form-element .background-icon {
  position: absolute;
  border-radius: 100%;
  background-color: rgba(15, 6, 25, 0.40);
  backdrop-filter: blur(4px);
  padding: 25px;
  cursor: pointer;
}

.form-element .icon {
  justify-content: center;
  display: flex;
  fill: #e8e8e8;
}

.form-element .span {
  font-size: 13px;
  margin-top: 5px;
}