:root {
  --third-color: #e8e8e8;
  --primary-color: #222831;
  --secondary-color: #f2f2f2;
  --third-theme-color: #e8e8e8;
  --primary-theme-color: #222831;
  --transparent-color: transparent;
  --secondary-theme-color: #24b3fb;
  --space-null: 0;
  --space-auto: auto;
  --space-none: none;
  --space-full: 100%;
  --primary-space: 1em;
  --secondary-space: 2em;
  --primary-font-size: 15px;
  --display-flex: flex;
  --align-center: center;
  --position-absolute: absolute;
  --position-relative: relative;
  --cursor-pointer: pointer;
  --border: 2px solid var(--primary-color);
}

.dark {
  --third-color: #353535;
  --primary-color: #e8e8e8;
  --secondary-color: #353535;
}

body {
  margin: var(--space-null);
  height: 100vh;
  transition: all 0.3s;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  background-color: var(--secondary-color);
}

main {
  display: grid;
  padding: 15px 20px;
  justify-content: var(--align-center);
}

input {
  margin-top: 10px;
  border: var(--border);
  transition: .4s ease-in-out;
  color: var(--primary-color);
  font-size: var(--primary-font-size);
  font-family: var(--primary-font-family);
  background-color: var(--secondary-color);
}

input:hover {
  box-shadow: 10px 10px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}

input::placeholder {
  color: var(--primary-color);
}

button {
  font-weight: bold;
  border: var(--border);
  transition: .4s ease-in-out;
  cursor: var(--cursor-pointer);
  color: var(--primary-theme-color);
  font-size: var(--primary-font-size);
  font-family: var(--secondary-font-family);
  background-color: var(--secondary-theme-color);
}

button:hover {
  box-shadow: 6px 6px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}

button:active {
  transition: .2s;
  box-shadow: var(--space-none);
  transform: translateX(0em) translateY(0em);
}

form {
  gap: 10px;
  padding: 2.5em;
  border: var(--border);
  flex-direction: column;
  top: var(--space-null);
  left: var(--space-null);
  right: var(--space-null);
  bottom: var(--space-null);    
  transition: .4s ease-in-out;
  display: var(--display-flex);
  background-color: var(--secondary-color);
}

form:hover {
  box-shadow: 10px 10px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}

h1 {
  font-size: var(--secondary-space);
  font-family: var(--secondary-font-family);
}

h2 {
  font-size: 1.2em;
  font-family: var(--secondary-font-family);
}

a {
  color: var(--primary-color);
  text-decoration: var(--space-none);
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-color);
  font-size: var(--primary-space);
}

hr {
  width: var(--space-full);
  margin: var(--space-null);
  border: 1px solid var(--primary-color);
}

.page {
  gap: 50px;
  display: var(--display-flex);
}