.heading {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: var(--align-center);
  padding-bottom: var(--secondary-space);
  font-family: var(--secondary-font-family);
}

.input {
  outline: none;
  padding: 0.7em;
}

.form .button {
  height: 43px;
  padding: 0.7em;
  display: var(--display-flex);
  align-items: var(--align-center);
  margin-top: var(--secondary-space);
  padding-left: var(--primary-space);
  padding-right: var(--primary-space);
  justify-content: var(--align-center);
}

.form.login {
  width: 24em;
  align-self: var(--align-center);
  position: var(--position-relative);
}

.form.edit {
  width: 24em;
  align-self: auto;
  min-height: 48em;
  position: var(--position-relative);
}

.error-message {
  color: #e63946;
  font-weight: bold;
}

.form.edit .picture {
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: var(--full-space);
  align-items: var(--align-center);
  justify-content: var(--align-center);
  border: 2px solid var(--primary-color);
}

.form.edit .box {
  display: inherit;
  align-items: var(--align-center);
  align-items: var(--align-center);
  justify-content: var(--align-center);
  justify-content: var(--align-center);
}

.form.edit .background-icon {
  z-index: 1;
  width: 200px;
  height: 200px;
  transition: all 0.4s;
  opacity: var(--none-space);
  cursor: var(--cursor-pointer);
  text-align: var(--align-center);
  border-radius: var(--full-space);
  position: var(--position-absolute);
  align-content: var(--align-center);
  background: rgba(15, 6, 25, 0.40);
}

.form.edit .background-icon:hover {
  opacity: 1;
}

.form.edit #icon {
  display: flex;
  color: #e8e8e8;
  justify-content: var(--align-center);
}

.form.edit #icon::before {
  padding: 25px;
  border-radius: var(--full-space);
  background: rgba(15, 6, 25, .4);
}

.form.edit .span {
  font-size: 13px;
  margin-top: 5px;
}