.heading {
  font-weight: bold;
  padding-bottom: 2em;
  text-align: var(--center);
  color: var(--primary-color);
  font-size: var(--primary-space);
}

.input {
  outline: none;
  padding: 0.7em;
}

.form .button {
  height: 43px;
  display: flex;
  padding: 0.7em;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  align-items: var(--center);
  justify-content: var(--center);
}

.form-login {
  width: 24em;
  position: relative;
  align-self: var(--center);
}

.form-edit {
  width: 24em;
  align-self: auto;
  min-height: 48em;
  position: relative;
}

.error-message {
  color: #E63946;
  font-weight: bold;
}

.form-edit .picture {
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 100%;
  align-items: var(--center);
  justify-content: var(--center);
  border: 2px solid var(--primary-color);
  border-radius: 100%;
}

.form-edit .box {
  align-items: var(--center);
  justify-content: var(--center);
  display: inherit;
  justify-content: center;
  align-items: center;
}

.form-edit .background-icon {
  opacity: 0;
  z-index: 1;
  width: 200px;
  height: 200px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  border-radius: 100%;
  transition: all 0.4s;
  align-content: center;
  background: rgba(15, 6, 25, 0.40);
}

.form-edit .background-icon:hover {
  opacity: 1;
}

.form-edit #icon {
  display: flex;
  color: #e8e8e8;
  justify-content: center;
}

.form-edit #icon::before {
  padding: 25px;
  border-radius: 100%;
  backdrop-filter: blur(4px);
}

.form-edit .span {
  font-size: 13px;
  margin-top: 5px;
}