.panel {
  gap: 10px;
  padding: 2.5em;
  border: var(--border);
  flex-direction: column;
  transition: .4s ease-in-out;
  display: var(--display-flex);
  background-color: var(--secondary-color);
}

.panel.book {
  min-width: 875px;
  max-width: 875px;
}

.panel:hover, .panel td:hover {
  box-shadow: 10px 10px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}

.panel table {
  width: 875px;
}

.panel tbody {
  gap: 15px;
  flex-wrap: wrap;
  display: var(--display-flex);
}

.panel tr {
  gap: 10px;
  width: 200px;
  height: 285px;
  display: var(--display-flex);
  text-align: var(--align-center);
  align-items: var(--align-center);
  position: var(--position-relative);
  justify-content: var(--align-center);
}

.panel td {
  overflow: hidden;
  border: var(--border);
  top: var(--none-space);
  left: var(--none-space);
  right: var(--none-space);
  width: var(--full-space);
  height: var(--full-space);
  bottom: var(--none-space);
  transition: .4s ease-in-out;
  display: var(--display-flex);
  max-width: var(--full-space);
  cursor: var(--cursor-pointer);
  max-height: var(--full-space);
  align-items: var(--align-center);
  position: var(--position-absolute);
  justify-content: var(--align-center);
}

.panel .background-icon {
  z-index: 1;
  width: 205px;
  height: 290px;
  transition: all 0.4s;
  opacity: var(--none-space);
  display: var(--display-flex);
  cursor: var(--cursor-pointer);
  text-align: var(--align-center);
  align-items: var(--align-center);
  position: var(--position-absolute);
  align-content: var(--align-center);
  background: rgba(15, 6, 25, 0.40);
  justify-content: var(--align-center);
}

.panel .background-icon:hover {
  opacity: 1;
}

.panel #icon {
  color: #e8e8e8;
  display: var(--display-flex);
  justify-content: var(--align-center);
}

.panel .heart {
  color: #c94c4c;
  display: var(--display-flex);
  justify-content: var(--align-center);
}

.panel #icon::before, .panel .heart::before {
  padding: 25px;
  border-radius: var(--full-space);
  background: rgba(15, 6, 25, .4);
}