.panel {
  gap: 10px;
  padding: 2.5em;
  border: var(--border);
  flex-direction: column;
  transition: .4s ease-in-out;
  display: var(--display-flex);
  background-color: var(--secondary-color);
}

.panel.book {
  min-width: 875px;
  max-width: 875px;
}

.panel:hover,
.panel td:hover,
.panel .heading .search:hover {
  box-shadow: 10px 10px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}

.panel .heading {
  display: var(--display-flex);
  justify-content: space-between;
  align-items: var(--align-center);
}

.panel .heading .search {
  width: 250px;
  padding: 2px 7px;
  border: var(--border);
  transition: .4s ease-in-out;
  display: var(--display-flex);
  align-items: var(--align-center);
}

.panel .heading .search input {
  width: 100%;
  border: var(--space-none);
  transition: var(--space-none);
  margin-top: var(--space-null);
  padding-left: var(--space-null);
}

.panel .heading .search input:hover {
  transform: var(--space-none);
  box-shadow: var(--space-none);
}

.panel table {
  width: 875px;
}

.panel tbody {
  gap: 15px;
  flex-wrap: wrap;
  display: var(--display-flex);
}

.panel tr {
  gap: 10px;
  width: 200px;
  height: 285px;
  display: var(--display-flex);
  text-align: var(--align-center);
  align-items: var(--align-center);
  position: var(--position-relative);
  justify-content: var(--align-center);
}

.panel td {
  overflow: hidden;
  border: var(--border);
  top: var(--space-null);
  left: var(--space-null);
  right: var(--space-null);
  width: var(--space-full);
  height: var(--space-full);
  bottom: var(--space-null);
  transition: .4s ease-in-out;
  display: var(--display-flex);
  max-width: var(--space-full);
  cursor: var(--cursor-pointer);
  max-height: var(--space-full);
  align-items: var(--align-center);
  position: var(--position-absolute);
  justify-content: var(--align-center);
}

.panel .background-icon {
  z-index: 1;
  width: 205px;
  height: 290px;
  transition: all 0.4s;
  opacity: var(--space-null);
  display: var(--display-flex);
  cursor: var(--cursor-pointer);
  text-align: var(--align-center);
  align-items: var(--align-center);
  position: var(--position-absolute);
  align-content: var(--align-center);
  background: rgba(15, 6, 25, 0.40);
  justify-content: var(--align-center);
}

.panel .background-icon:hover {
  opacity: 1;
}

.panel #icon {
  color: #e8e8e8;
  display: var(--display-flex);
  justify-content: var(--align-center);
}

.panel .heart {
  color: #c94c4c;
  display: var(--display-flex);
  justify-content: var(--align-center);
}

.panel #icon::before, .panel .fa-regular.fa-heart::before {
  padding: 25px;
  border-radius: var(--space-full);
  background: rgba(15, 6, 25, .4);
}