.playing {
  gap: 1px;
  width: 16px;
  height: 16px;
  padding: 25px;
  display: flex;
  position: relative;
  border-radius: 100%;
  justify-content: center;
  background: rgba(15, 6, 25, 0.40);
}

.greenline {
  width: 2px;
  height: 20px;
  position: relative;
  transform-origin: bottom;
  background-color: #24b3fb;
}

.line-1 {
  animation-delay: 0.2s;
  animation: infinite playing 1s ease-in-out;
}

.line-2 {
  animation-delay: 0.5s;
  animation: infinite playing 1s ease-in-out;
}

.line-3 {
  animation-delay: 0.6s;
  animation: infinite playing 1s ease-in-out;
}

.line-4 {
  animation-delay: 0s;
  animation: infinite playing 1s ease-in-out;
}

.line-5 {
  animation-delay: 0.4s;
  animation: infinite playing 1s ease-in-out;
}

@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }

  33% {
    transform: scaleY(0.6);
  }

  66% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(0.1);
  }
}