.player {
  width: 24em;
  display: flex;
  padding: 2.5em;
  border-radius: 25px;
  border: var(--border);
  flex-direction: column;
  transition: .4s ease-in-out;
  background-color: var(--secondary-color);
}

.player:hover {
  box-shadow: 10px 10px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}

.player .image {
  display: flex;
  justify-content: center;
}

.player img {
  width: 350px;
  border-radius: 25px;
  border: var(--border);
}

.player .box {
  gap: 5px;
  display: flex;
  justify-content: center;
}

media-controller {
  background-color: var(--transparent-color);
}

media-control-bar {
  display: grid;
}

media-time-display,
media-duration-display {
  font-weight: bold;
  font-family: 'lucidaFax';
  color: var(--logo-color);
  background-color: var(--transparent-color);
}

media-time-range {
  --media-range-thumb-width: 17px;
  --media-range-thumb-height: 17px;
  background: var(--transparent-color);
  --media-range-bar-color: var(--logo-color);
  --media-range-thumb-color: var(--logo-color);
  --media-range-thumb-background: var(--logo-color);
}

media-time-range {
  width: 100%;
}

media-play-button,
media-seek-forward-button,
media-seek-backward-button,
media-mute-button {
  width: 75px;
  margin: 10px;
  padding: 20px;
  font-size: 2em;
  border-radius: 100%;
  transition: all 0.4s;
  border: var(--border);
  color: var(--primary-color);
  background-color: var(--transparent-color);
}

media-play-button:hover,
media-mute-button:hover,
media-seek-forward-button:hover,
media-seek-backward-button:hover {
  color: var(--logo-color);
  border: 2px solid var(--logo-color);
  box-shadow: 10px 10px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}