.playing {
  gap: 2px;
  width: 16px;
  height: 16px;
  padding: 25px;
  display: var(--display-flex);
  border-radius: var(--space-full);
  position: var(--position-relative);
  background: rgba(15, 6, 25, 0.40);
  justify-content: var(--align-center);
}

.greenline {
  width: 2px;
  height: 20px;
  transform-origin: bottom;
  position: var(--position-relative);
  background-color: var(--secondary-theme-color);
}

.line-1 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.2s;
}

.line-2 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.5s;
}

.line-3 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.6s;
}

.line-4 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0s;
}

.line-5 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.4s;
}

@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }

  33% {
    transform: scaleY(0.6);
  }

  66% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(0.1);
  }
}