.player {
  width: 24em;
  align-self: auto;
  position: var(--position-relative);
}

.player .container {
  padding: 2.5em;
  min-height: 42em;
  border: var(--border);
  flex-direction: column;
  transition: .4s ease-in-out;
  display: var(--display-flex);
  background-color: var(--secondary-color);
}

.player .container:hover {
  box-shadow: 10px 10px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}

.player .image {
  display: var(--display-flex);
  justify-content: var(--align-center);
}

.player img {
  height: 463px;
  border: var(--border);
  width: var(--full-space);
}

.player .placeholder {
  height: 463px;
  border: var(--border);
  width: var(--full-space);
  display: var(--display-flex);
  align-items: var(--align-center);
  justify-content: var(--align-center);
}

.player .box {
  gap: 5px;
  display: var(--display-flex);
  align-items: var(--align-center);
  justify-content: var(--align-center);
}

.player .heart {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #c94c4c;
  display: var(--display-flex);
  cursor: var(--cursor-pointer);
  text-align: var(--align-center);
  align-items: var(--align-center);
}

i.fa-solid.fa-volume-xmark {
  color: var(--secondary-theme-color);
}

media-controller {
  margin-top: 10px;
  background-color: var(--transparent-color);
}

media-control-bar {
  display: grid;
}

media-time-display,
media-duration-display {
  color: var(--secondary-theme-color);
  font-family: var(--secondary-font-family);
  background-color: var(--transparent-color);
}

media-time-range {
  --media-range-thumb-width: 17px;
  --media-range-thumb-height: 17px;
  background: var(--transparent-color);
  --media-range-bar-color: var(--secondary-theme-color);
  --media-range-thumb-color: var(--secondary-theme-color);
  --media-range-thumb-background: var(--secondary-theme-color);
}

media-time-range {
  width: var(--full-space);
}

media-play-button,
media-seek-forward-button,
media-seek-backward-button {
  width: 50px;
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  transition: all 0.4s;
  border: var(--border);
  color: var(--primary-color);
  border-radius: var(--full-space);
  background-color: var(--transparent-color);
}

media-play-button:hover,
media-seek-forward-button:hover,
media-seek-backward-button:hover {
  color: var(--secondary-theme-color);
  border: 2px solid var(--secondary-theme-color);
  box-shadow: 10px 10px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}

media-mute-button {
  width: 16px;
  padding: 0px;
  font-size: 14px;
  color: var(--primary-color);
  background-color: var(--transparent-color);
}