.switch {
  display: inline-block;
  height: var(--primary-space);
  width: var(--secondary-space);
  font-size: var(--font-size-p);
  position: var(--position-relative);
}

.switch input {
  width: var(--space-null);
  height: var(--space-null);
  opacity: var(--space-null);
}

.slider {
  transition: .15s;
  border: var(--border);
  box-sizing: border-box;
  top: var(--space-null);
  left: var(--space-null);
  right: var(--space-null);
  bottom: var(--space-null);
  cursor: var(--cursor-pointer);
  position: var(--position-absolute);
  border-radius: var(--primary-space);
  background-color: var(--third-color);
}

.slider:before {
  left: -2px;
  content: "";
  bottom: -2px;
  transition: .15s;
  border: var(--border);
  box-sizing: border-box;
  width: var(--primary-space);
  height: var(--primary-space);
  transform: translateY(-0.2em);
  border-radius: var(--space-full);
  position: var(--position-absolute);
  background-color: var(--third-color);
  box-shadow: 0 0.2em 0 var(--primary-color);
}

input:checked + .slider {
  background-color: var(--third-color);
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--third-color);
}

input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(calc(var(--secondary-space) - var(--primary-space))) translateY(-0.2em);
}

input:hover:checked + .slider:before {
  box-shadow: 0 0.3em 0 var(--primary-color);
  transform: translateX(calc(var(--secondary-space) - var(--primary-space))) translateY(-0.3em);
}

.menu .container {
  gap: 50px;
  display: var(--display-flex);
  align-items: var(--align-center);
}

.menu .list {
  gap: 50px;
  padding: 0px;
  font-size: 20px;
  display: var(--display-flex);
  align-items: var(--align-center);
  font-family: var(--primary-font-family);
}

.menu .item {
  display: var(--display-flex);
}

.menu .item:hover {
  font-weight: bold;
  transition: all 0.3s;
  cursor: var(--cursor-pointer);
}

.logout-button {
  padding: 8px 25px;
}