.switch {
  height: 2em;
  width: 3.5em;
  font-size: 17px;
  display: inline-block;
  position: var(--position-relative);
}

.switch input {
  width: var(--none-space);
  height: var(--none-space);
  opacity: var(--none-space);
}

.slider {
  transition: 0.4s;
  border-radius: 30px;
  top: var(--none-space);
  left: var(--none-space);
  right: var(--none-space);
  bottom: var(--none-space);
  transition: all 0.4s ease;
  background-color: #2185d6;
  cursor: var(--cursor-pointer);
  position: var(--position-absolute);
  box-shadow: 0 0 0 rgba(33, 133, 214, 0);
}

.slider:hover {
  box-shadow: 0 0 15px rgba(33, 133, 214, 0.5);
}

.slider::before {
  left: 10%;
  bottom: 15%;
  content: "";
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  transform-origin: center;
  transition: all 0.4s ease;
  position: var(--position-absolute);
  background-color: var(--primary-theme-color);
  box-shadow: inset 15px -4px 0px 15px #fdf906;
}

.slider:hover::before {
  transform: rotate(45deg);
}

.clouds-stars {
  left: 70%;
  width: 10px;
  content: "";
  bottom: 50%;
  height: 10px;
  border-radius: 50%;
  filter: blur(0.55px);
  transition: all 0.3s;
  position: var(--position-absolute);
  box-shadow:
    -12px 0 0 0 var(--third-theme-color),
    -6px 0 0 1.6px var(--third-theme-color),
    0.3px 16px 0 var(--third-theme-color),
    -6.5px 16px 0 var(--third-theme-color);
  background-color: var(--third-theme-color);
}

.switch input:checked ~ .clouds-stars {
  top: 15%;
  left: 80%;
  width: 2px;
  height: 2px;
  filter: none;
  border-radius: 50%;
  transition: all 0.3s;
  backdrop-filter: blur(10px);
  transform: translateX(-20px);
  animation: twinkle 2s infinite;
  background-color: var(--third-theme-color);
  box-shadow:
    -7px 10px 0 var(--third-theme-color),
    8px 15px 0 var(--third-theme-color),
    -17px 1px 0 var(--third-theme-color),
    -20px 10px 0 var(--third-theme-color),
    -7px 23px 0 var(--third-theme-color),
    -15px 25px 0 var(--third-theme-color);
}

.switch input:checked + .slider {
  background-color: var(--primary-theme-color) !important;
}

.switch input:checked + .slider::before {
  transform: translateX(100%);
  box-shadow: inset 8px -4px 0 0 var(--third-theme-color);
}

.switch input:checked + .slider:hover::before {
  transform: translateX(100%) rotate(-45deg);
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.menu .container {
  gap: 50px;
  display: var(--display-flex);
  align-items: var(--align-center);
}

.menu .list {
  gap: 50px;
  padding: 0px;
  font-size: 20px;
  display: var(--display-flex);
  align-items: var(--align-center);
  font-family: var(--primary-font-family);
}

.menu .item {
  display: var(--display-flex);
}

.menu .item:hover {
  font-weight: bold;
  transition: all 0.3s;
  cursor: var(--cursor-pointer);
}

.logout-button {
  padding: 8px 25px;
}